.c-button {
  & > a {
    position: relative;
    text-transform: lowercase;
    color: inherit;
    padding: 0 0.8em;
    transition: all 0.5s ease-in;
    /* font-family: '', serif; */
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 170%;
    padding-left: 1em;
    background-color: #fff;
    color: #000;
  }
}
@media (any-pointer: fine) {
  .c-button {
    & > a {
      background-color: unset;
      color: unset;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0.5em;
      display: block;
      background-color: #fff;
      transition: width 0.3s ease-in;
      animation: pulse 1.3s step-end infinite;
    }
    &:hover {
      & > a {
        color: #000;
        padding-left: 0.8em;
      }
      &::before {
        width: 100%;
        animation: none;
      }
    }
  }
}

@keyframes pulse {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}
