/* =Loader */
.loader {
  min-height: 100vh;
  position: fixed;
  flex-direction: column;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  visibility: hidden;
  z-index: 999999;
}

.loader .inner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-image: url('../../images/logo-dark_small.svg'); */
  background-image: url('../../images/logo_small.svg');
  background-repeat: no-repeat;
  background-position: bottom 1vw left 2vw;
  /* background-color: var(--clr-light-loader); */
  /* background-color: #1687e1; */
  background-color: var(--clr-dark);
  background-size: 155px 155px;
}

.loader .progress {
  width: clamp(300px, 27.36vw, 500px);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.loader .progress span {
  text-align: center;
  font-size: clamp(20px, 2vw, 30px);
  width: 70%;
  /* color: var(--clr-dark); */
  color: var(--clr-light);
}

.ellipsis-container {
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 15vh;
}
.lds-ellipsis div {
  position: absolute;
  top: 40%;
  width: 15px;
  height: 1vh;
  /* background: var(--clr-dark); */
  background: var(--clr-light);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 10px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 10px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 40px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 70px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(30px, 0);
  }
}

.loader {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}
