section.projects {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: pink;
}

.c-projects_banner {
  /* overflow: hidden; */
  /* white-space: nowrap; */
  /* position: absolute; */
  /* margin-top: -20vw; */
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  top: -50vh;
  bottom: -50vh ;
  background-color: red;
}

.c-projects_banner_item {
  text-transform: uppercase;
  line-height: 1;

  position: absolute;
  display: block;
  white-space: nowrap;
  font-size: 8vw;
  font-weight: bold;
  border: solid;


  & .c-projects_banner_item_inner {
      display: block;
      background-color: white;
      white-space: nowrap;
      padding: 0 20px;
  }

  &.-top {
    top: 5%;
    left: 0;
    transform: translateX(-50vw);
  }
  &.-bottom {
    top: 0%;
    left: 0;
    transform: translateX(-10vw);
  }
}

.projects__content {
  margin: 0 var(--h-gutter);
}
