@import '../../styles/mixins/media-queries';
.c-intro {
  min-height: 80vh;
  position: relative;
  @include sm-screen {
    min-height: 60vh;
  }
}
.c-intro__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 12vw;
  @include sm-screen {
    flex-direction: column-reverse;
  }
}
.c-intro__canvas-container {
  width: 35%;
  @include sm-screen {
    width: 70%;
    margin-top: 3vh;
  }
}
.c-intro__text {
  width: 60%;
  height: 23vw;
  & .c-intro__link-wrapper {
    margin-top: 2vh;
  }
  @include sm-screen {
    width: 90%;
    height: 100%;
    & .c-intro__link-wrapper {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 2vh;
    }
  }
  @include xs-screen {
    width: 100%;
  }
  & h3 {
    position: relative;
    width: 100%;
    font-family: 'Open Sans', serif;
    font-weight: 300;
    font-size: 2.2vw;
    line-height: 170%;
    letter-spacing: 0.19vw;
    opacity: 1;
    .text-container {
      color: #f6eadeb3;
      & .c-intro__text__line {
        display: inline-block;
      }
      .c-intro__line-wrapper {
        height: 1.5em;
        overflow: hidden;
        position: relative;
        padding-top: 0.6em;
        margin-bottom: -0.7em;
        padding-bottom: 0.4em;
      }
    }
    @include sm-screen {
      font-size: 3vw;
      text-align: center;
    }
    @include xs-screen {
      font-size: 4.5vw;
    }
  }
}

// =Animation
/* .c-intro__text.is-inview { */
/*   & h3 { */
/*     opacity: 1; */
/*   } */
/* } */

// Specials.
.c-star {
  width: 0.5em;
  height: 0.5em;
}

.c-intro__special {
  &.--junior {
    .svg.junior {
      position: absolute;
      bottom: 33%;
      right: 82%;
      width: 1.5em;
      height: 1.5em;
      transform: rotateZ(4deg);
    }
  }
  &.-javascript {
    position: relative;
    overflow: hidden;
    border: 0.1vw solid #393939;
    display: inline-flex;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    transition: color 0.3s ease-in;
    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: #ffeb3b;
      transition: height 0.2s ease-in;
    }
    &:hover {
      color: #000;
      &::after,
      &::before {
        height: 100%;
      }
    }
  }
  &.--passion {
    display: inline-block; // to behave as a single word.
    .star-l {
      animation: blink 1.5s linear infinite;
    }
    .star-r {
      animation: blink 1.5s linear 0.3s infinite;
    }
    .svg.underline {
      position: absolute;
      top: 90%;
      left: 0;
      width: 100%;
      height: 0.5em;
    }
  }
}

@keyframes blink {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
