/* before loading */
body.is-loading {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

/* after loading */
body.is-ready {
  overflow: auto;
  height: auto;
  & .loader-wrapper {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
  }
}
