@import '../fonts/stylesheet.css';

:root {
  --h-gutter: 6.6vw;
  --v-spacing: 10vh;
  --header-height: 100px;
}

body, html {
  font-family: 'urw_gothicbook';
  font-size: calc(1em + 1vw);
}

.container {
  margin-left: var(--h-gutter);
}

