@import '../fonts/stylesheet.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

:root {
  --h-gutter: 6.6vw;
  --v-spacing: 10vh;
  --header-height: 100px;
  --svg-height: 1em;
  --svg-width: 1em;
}

body, html {
  font-family: 'urw_gothicbook';
  font-size: calc(1em + 1vw);
  height: 100%;
}

body {
  /* pre loading */
  &.is-loading {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }

  /* post loading */
  &.is-ready {
    overflow: auto;
    height: auto;
    & .loader-wrapper {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.3s, opacity 0.3s linear;
    }
  }
}

.container {
  margin:0 var(--h-gutter);
}

// Components
// ==========================================================================
@import './components/loader';


