body {
  #loader {
    /* position: fixed; */
    /* display: none; */
    /* top: -10%; */
    /* left: -10%; */
    /* height: 0; */
    /* overflow: hidden; */
  }
  &.preloader_on {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    /* top: 0; */
    /* left:0; */
    background-color: red;
    #loader {
      /* height: auto; */
      /* bottom: 0; */
      /* background-color: pink; */
      /* z-index: 5; */
      /* overflow: hidden; */
    }
  }
  &.preloader_off {
    overflow: auto;
    height: auto;
    #loader {
      animation: loaderDone 0.5s forwards;
      @keyframes loaderDone {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
      }
    }
  }
}
