@import '../../styles/mixins/media-queries';
section.c-divider {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.c-divider__banner {
  margin-top: -10vw;
  position: absolute;
  top: -8vw;
  bottom: -8vw;
  right: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

/* =Marquees */
.c-divider__banner__marquee {
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  display: block;
  white-space: nowrap;
  font-size: 8vw;
  font-weight: bold;
  border: solid;
  & .c-divider__banner__marquee__inner {
    display: block;
    background-color: white;
    white-space: nowrap;
    padding: 0 20px;
  }
}
.c-divider__banner__marquee {
  &.-top {
    top: 0%;
    left: 0;
    transform: translateX(-100vw);
    & .inner {
      color: var(--clr-light);
      background-color: var(--clr-dark);
    }
  }
  &.-bottom {
    top: 8vw;
    left: 0;
    transform: translateX(-150vw);
    & .inner {
      color: var(--clr-dark);
    }
  }
}

.c-divider__main {
  padding-top: 20vh;
}

/* =Info */
#fixed {
  height: 80%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.c-divider__info__container {
  position: relative;
  overflow: hidden;
  height: 40vh;
  width: 60%;
  /* transform: translateY(-40vh) */
}
.c-divider__info-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 40vh; */
  /* width: 60%; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* transform: translateY(-100%) */
}
.c-divider__info-mask {
  overflow: hidden;
  height: 100%;
  background-color: red;
  /* transform: translateY(100%); */
}
.c-divider__info_text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: inherit;
}

/* =Specials */
.c-divider__special {
  position: absolute;
  top: 40%;
  right: 30%;
  filter: brightness(0.1);
  opacity: 0.4;
  /* right: var(--h-gutter); */
}

.c-divider__info {
  margin-top: 10vw;
  position: relative;
  height: 40vh;
  width: 60%;
  @include sm-screen {
    width: 80%;
  }
}
.c-divider__info__text {
  font-size: 3vw;
  color: var(--clr-medium);
  @include sm-screen {
    font-size: 4.5vw;
  }
}
