@import '../../styles/mixins/media-queries';

// Multipliers for a consistant box ratio across different sizes.
$default-box-mltp: 1.3;
$xs-box-mltp: 2.3;

.c-ap {
  padding-top: 10vw;
  min-height: 100vh;
}
.c-ap__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .c-ap__list__info__wrapper { */
/*   width: 30%; */
/*   position: relative; */
/* } */
/* .c-ap__list__info { */
/*   position: absolute; */
/*   color: #575757; */
/* } */
/* .c-ap__list__info h3 { */
/*   font-size: 2vw; */
/*   margin: 0; */
/*   padding: 0; */
/* } */
/* .c-ap__list__info p { */
/*   font-size: 1.5vw; */
/*   margin: 0; */
/*   padding: 0; */
/* } */

.c-ap__list__boxes-container {
  width: 100%;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto;
  justify-items: center;
  @include sm-screen {
    grid-template-columns: auto;
  }
}
.c-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: calc(((100vw - 30.2vw) / 3) * $default-box-mltp);
  height: calc(((100vw - 16.2vw) / 3) * $default-box-mltp);
  background-color: inherit;
  border: 1px solid #ffffff14;
  cursor: pointer;
  @include xs-screen {
    width: calc(((100vw - 30.2vw) / 3) * $xs-box-mltp);
    height: calc(((100vw - 16.2vw) / 3) * 2.3);
  }
}
.c-box a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.c-box__heading {
  font-size: 3vw;
  z-index: 1;
  position: relative;
  text-align: center;
  pointer-events: none;
  @include xs-screen {
    font-size: 5vw;
  }
}
.c-box__heading h3,
.c-box__heading span {
  font-family: 'Libre Caslon Display', serif;
  font-weight: normal;
}
.c-box__heading span {
  font-size: 1em;
  opacity: 0.5;
}
.c-box__heading h3 {
  font-size: 1.5em;
  line-height: 1.192307692;
}
.c-box__info {
  max-width: 80%;
  font-size: 2.2vw;
  font-weight: 300;
  font-family: 'Libre Caslon Display', serif;
  letter-spacing: 0.03vw;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  pointer-events: none;
}

.c-box__info__mask {
  overflow: hidden;
}

.c-box__image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  pointer-events: none;
  z-index: -1;
}

.c-box__image img {
  top: 0;
  left: 0;
  /* width: 100%; */
  width: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: 0% 50%;
  opacity: 0.1;
  filter: sepia(1);
}

.c-box__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.c-box__image__mask {
  height: 100%;
  overflow: hidden;
}
