.c-ap {
  padding-top: 10vw;
  min-height: 100vh;
}
.c-list {
  display: flex;
}
/* .c-list__info__wrapper { */
/*   width: 30%; */
/*   position: relative; */
/* } */
/* .c-list__info { */
/*   position: absolute; */
/*   color: #575757; */
/* } */
/* .c-list__info h3 { */
/*   font-size: 2vw; */
/*   margin: 0; */
/*   padding: 0; */
/* } */
/* .c-list__info p { */
/*   font-size: 1.5vw; */
/*   margin: 0; */
/*   padding: 0; */
/* } */

.c-list_boxes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.c-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* equivalent to 33.33% */
  /* flex-grow: 1; */
  flex-direction: column;
  justify-content: center;
  /* padding: 0 var(--h-gutter); */
  overflow: hidden;

  width: calc((100vw - 30.2vw) / 3);
  height: calc((100vw - 16.2vw) / 3);
  background-color: inherit;
  margin-right: 5vw;
  margin-bottom: 1vw;
  border: 1px solid #ffffff14;
  cursor: pointer;
}

.c-box__heading {
  font-size: 2vw;
  z-index: 1;
  position: relative;
  text-align: center;
  pointer-events: none;
}

.c-box__heading h3 {
  font-size: 2.6vw;
  line-height: 1.192307692;
}

.c-box__heading span {
  font-size: 2vw;
  opacity: 0.5;
}

.c-box__heading h3,
.c-box__heading span {
  font-family: 'Libre Caslon Display', serif;
  font-weight: normal;
}

.c-box__info {
  font-size: 1.2vw;
  font-weight: 300;
  letter-spacing: 0.03vw;
  overflow: hidden;
  z-index: 1;
}

.c-box__info__mask {
  overflow: hidden;
}

.rg__column::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 1px;
  height: 20vh;
  transform: translateY(-50%);
  background-color: var(--text-color);
  opacity: 0.4;
}

.c-box__image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  pointer-events: none;
}

.c-box__image img {
  top: 0;
  left: 0;
  /* width: 100%; */
  width: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: 0% 50%;
  opacity: 0.8;
  filter: blur(1px);
}

.c-box__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.c-box__image__mask {
  height: 100%;
  overflow: hidden;
}

.c-box__image img {
  opacity: 0.6;
}

.rg__column.is-active .c-box__image,
.rg__column.is-active .c-box__image__mask {
  transform: translateY(0);
}
