.header-arrow {
  height: 100vh;
  /* width: calc(100vw - var(--h-gutter)); */
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  /* background-color: red; */
  /* z-index: 9999; */
  overflow: hidden;
  & .arrow__text {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* =Header */
header.header {
  position: relative;
  /* min-height: 100vh; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12vh;
  span {
    display: inline-block;
  }
}

h1.header__content-container {
  font-weight: normal;
  align-self: center;
  line-height: 0.9;
  padding-top: var(--v-spacing);
  padding-bottom: 2.5rem;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  & .header__text {
    pointer-events: none;
  }
}

.header__content-container .line {
  &:first-child {
    transition-delay: 0.2s;
  }
  &:nth-child(2) {
    transition-delay: 0.3s;
  }
  &:nth-child(3) {
    transition-delay: 0.4s;
  }
  font-size: 15.8vw;
  display: block;
  opacity: 0;
  /* @media only screen and (min-width: 1400px) { */
  /*     font-size: 221px; */
  /* } */

  transform: translateY(100%) rotateX(-80deg);
  transform-origin: center top;
  transform-style: preserve-3d;
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);

  /* header gallery: before loading */
  & .hg {
    display: inline-block;
    opacity: 1;
    transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

}

.line.is-inview {
  opacity: 1;
  transform: none;
  transition-duration: 800ms;

  /* header gallery: after loading */
  & .hg {
    opacity: 1;
    transition-delay: 800ms;
    transition-duration: 500ms;
    transform: translateZ(1px);
    animation: coin-flip 1s cubic-bezier(0, 0.2, 0.8, 1);
  }
}


#letter-f {
  position: relative;
}

/* =svgs= */
.svg-iam {
  position: absolute;
  bottom: 80%;
  left: -100%;
  height: 0.5em;
}
.svg-notme {
  position: absolute;
  bottom: 60%;
  left: 110%;
  opacity: 0;
  transition: opacity 0.3s;
}


/* =header gallery= */
.hg {
  opacity: 0;
  display: inline-block;
  margin-left: 3vw;
}
.hg__top {
  position: relative;
  padding-bottom: 14.625vw;
  width: 26vw;
  border: solid;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

/* =animations= */
@keyframes coin-flip {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(0deg);
  }
}
