@import '../../styles/mixins/media-queries';
.c-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  z-index: 3;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.c-brand {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--header-height);
  display: flex;
  align-items: center;
  width: 50%;
  z-index: 3;
  &_text {
    text-transform: lowercase;
    /* font-size: 2vw; */
    padding-left: var(--h-gutter);
    & a {
      text-decoration: none;
      font-size: 60px;
      letter-spacing: -12px;
      position: relative;
      overflow: hidden;
      &.-active {
        /* color: red; */
      }
      & .c-brand_subtitle {
        font-size: 1.5vw;
        letter-spacing: 1.4vw;
        text-transform: none;
      }
    }
  }
  transform: translateX(-100%);
}

/*=Burger*/
.c-burger_wrapper {
  position: fixed;
  top: 0;
  left: auto;
  right: var(--h-gutter);
  display: flex;
  align-items: center;
  /* width: 2vw; */
  height: var(--header-height);
  transform: translateX(50vw);
  z-index: 5;
}

.c-burger {
  position: relative;
  cursor: pointer;
  border: none;
  padding: 0;
  height: 40px;
  background: none;
  width: clamp(50px, 6vw, 70px);
  &.-active {
    .c-burger__line {
      background: transparent;
      transform: rotate(180deg);
      &::before {
        transform: rotate(-45deg);
        top: 0;
        background: var(--clr-dark);
      }
      &::after {
        transform: rotate(45deg);
        bottom: 0;
        background: var(--clr-dark);
      }
    }
  }
}

.c-burger__line {
  display: block;
  width: 100%;
  height: 3px;
  background: var(--clr-light);
  position: absolute;
  left: 0;
  transition: all 300ms ease-in;
  border-radius: 10px;
  backface-visibility: hidden;
  pointer-events: none;
  &::before,
  &::after {
    display: block;
    width: 100%;
    height: 3px;
    background: var(--clr-light);
    position: absolute;
    left: 0;
    transition: all 300ms ease-in;
    border-radius: 10px;
    backface-visibility: hidden;
  }
}

.c-burger__line {
  top: 50%;
  margin: -5px 0 0 0;
  &::before {
    content: '';
    top: -15px;
  }
  &::after {
    content: '';
    bottom: -15px;
  }
}

/* .c-burger_line { */
/*   display: block; */
/*   width: clamp(30px, 2vw, 2vw); */
/*   height: 2px; */
/*   margin-bottom: 6px; */
/*   position: relative; */
/*   background-color: #fff; */
/*   pointer-events: none; */
/* } */

/* =Menu */
.c-menu {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-medium-lighter);
  .c-menu__left {
    width: 50%;
    height: 100%;
    /* background-color: #f6eade; */
    background-color: var(--clr-light);
    position: absolute;
    top: 0;
    left: 0;
  }
  .c-menu__right {
    width: 50%;
    height: 100%;
    /* background-color: #f6eade; */
    background-color: var(--clr-light);
    position: absolute;
    top: 0;
    right: 0;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    .c-menu__left {
      transform: translateY(0);
    }
    .c-menu__right {
      transform: translateY(0);
    }
    .c-menu_line {
      width: calc(100vw + 8.6vw);
    }
  }
}
.c-menu__list {
  position: absolute;
  ul {
    list-style: none;
    margin: 0;
    padding: 0 var(--h-gutter);
    padding-top: 5vh;
  }
  li {
    font-size: clamp(50px, 10vw, 127px);
    text-transform: uppercase;
    margin-bottom: 6vh;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    & span > a {
      color: inherit;
      letter-spacing: 1.2vw;
      transition: all 0.5s;
    }
  }
}
.c-menu__item span::before,
.c-menu__item span::after {
  content: '';
  display: block;
  height: 0.5vh;
  width: 0;
  background-color: var(--clr-medium-lighter);
  transition: all ease-out 0.5s;
}
.c-menu__item span:hover {
  & > a {
    letter-spacing: 1.5vw;
    color: var(--clr-medium);
  }
}
.c-menu__item span {
  &::before {
    margin-left: 0;
  }
  &::after {
    margin-left: auto;
  }
  &:hover::after,
  &:hover::before {
    width: 100%;
  }
}
/* .c-menu__close { */
/*   position: absolute; */
/*   top: 0; */
/*   right: 0; */
/*   z-index: 3; */
/*   margin: 0; */
/*   padding: 0; */
/*   margin: 2vw; */
/*   background-color: unset; */
/*   outline: unset; */
/*   border: unset; */
/*   cursor: pointer; */
/*   color: inherit; */
/* } */

/* ==============Media Queries====================== */
.c-brand {
  & .c-brand_text {
    @include md-screen {
      font-size: 20px;
    }
    & a .c-brand_subtitle {
      @include md-screen {
        font-size: 15px;
        letter-spacing: 14px;
        color: red;
      }
    }
  }
}
