nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  z-index: 3;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
}

.c-brand {
  position: fixed;
  top: 0;
  left: 0;
  /* left: var(--h-gutter); */
  height: var(--header-height);
  display: flex;
  align-items: center;
  &_text {
    text-transform: uppercase;
    font-size: 2vw;
    padding-left: var(--h-gutter);
    & a {
      text-decoration: none;
      letter-spacing: 0.2vw;
      color: #fff;
      & .c-brand_subtitle {
        font-size: 1.5vw;
        letter-spacing: 1.2vw;
        text-transform: none;
      }
    }
  }
  transform: translateX(-100%);
}

.c-burger_wrapper {
  position: fixed;
  top: 0;
  left: auto;
  right: var(--h-gutter);
  display: flex;
  align-items: center;
  width: 2vw;
  height: var(--header-height);
  transform: translateX(50vw);
  z-index: 9999;
}

.c-burger {
  position: relative;
  cursor: pointer;
  border: none;
  padding: 0;
  height: 40px;
  background: none;
  &.-active {
    span:before {
      width: 100vw;
    }
  }
}

.c-burger_line {
  display: block;
  width: 2vw;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  background-color: #fff;
  pointer-events: none;
  /* transition: width 1s linear; */
  /* &:before { */
  /*   content: ''; */
  /*   position: absolute; */
  /*   right: 0; */
  /*   display: block; */
  /*   width: 2vw; */
  /*   height: 100%; */
  /*   background-color: #000; */
  /*   transition: width 1s linear; */
    /* transform-origin: right; */
  /* } */
}

.main-nav {
  display: none;
}

/* =Menu */
.c-menu {
  position: fixed;
  top: 0;
  right: var(--h-gutter);
  width: 2vw;
  height: var(--header-height);
  transform: translateY(38%);
  transition: all 2s linear;
  /* display: flex; */
  /* align-items: center; */
  &.active {
    transform: translate(-100vw, 38%);
    .c-menu_line {
      width: calc(100vw + 8.6vw);
    }
  }
  .c-menu_line {
    display: block;
    width: 2vw;
    height: 2px;
    margin-bottom: 6px;
    background-color: red;
    transition: all 2s linear;
  }
}

/* ==================================== */

/*
.logo {
  position: fixed;
  left: 0;
  height: var(--header-height);
  width: 280px;
  display: flex;
  align-items: center;
  z-index: 3;
  pointer-events: none;
}

.logo__img {
  width: 55px;
  height: 55px;
  background: url('../img/img_logo.svg') no-repeat center;
  background-size: 55px 55px;
  display: block;
  position: absolute;
  left: 1.2vw;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.logo__text {
  color: var(--text-color);
  font-size: 3.125vw;
  font-family: var(--font-headings);
  letter-spacing: 7px;
  padding-left: var(--h-gutter);
  transition: opacity 0.3s linear;
  opacity: 1;
  text-transform: uppercase;
}

.burger {
  width: var(--burger-width);
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: auto;
  right: var(--h-gutter);
  display: flex;
  align-items: center;
  z-index: 2;
  transition: transform 0.3s var(--easing);
  transform: translateX(0);
}
.burger__open span {
  width: var(--burger-width);
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  display: block;
}
.burger button {
  position: absolute;
  cursor: pointer;
  border: none;
  padding: 0;
  height: 40px;
  background: none;
}
*/
