
// Typefaces
// =============================================================================
$font-sans-serif: Arial, sans-serif;
$font-serif: serif;

// Spacing
// =============================================================================
:root {
  --h-gutter: 6.6vw;
  --v-spacing: 10vh;
  --header-height: 100px;
  --svg-height: 1em;
  --svg-width: 1em;
}
