@import '../../styles/mixins/media-queries';

.c-footer {
  height: 17vh;
  max-height: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-family: 'Open Sans', sans-serif; */
  background-color: #fff;
  margin-top: 3vh;
  margin-bottom: 2vh;
  padding: 0 var(--h-gutter);
  @include sm-screen {
    max-height: unset;
  }
  & span {
    /* font-size: 1vw; */
    font-size: 20px;
    text-align: center;
    margin-right: 3vw;
    @include sm-screen {
      font-size: 16px;
    }
    @include xs-screen {
      font-size: 13px;
    }
  }
  & button {
    font-weight: bold;
    cursor: pointer;
    border: unset;
    padding: 0;
    margin: 0;
    background-color: unset;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
  }
}

.c-footer__text {
  /* position: absolute; */
  /* top: 0; */
  & a {
    color: #575757;
  }
  margin: 0;
  padding: 0;
  display: inline-block;
  &.--right {
    color: #585858;
    font-weight: 300;
    /* right: 0; */
  }
}

.c-footer__text.--left {
  @include sm-screen {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  & > span {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 3px;
      background-color: #000;
      transition: width 0.3s linear;
    }
    &:hover {
      transform: scale(0.5);
      &::after {
        width: 100%;
      }
    }
    /* left: 0; */
  }
}
