.c-footer {
  height: 12vw;
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  & span {
    font-size: 2vw;
    margin-left: 3vw;
  }
  & button {
    cursor: pointer;
  }
}

.c-footer__text {
  /* position: absolute; */
  /* top: 0; */
  margin: 0;
  padding: 0;
  display: inline-block;
  &.--left {
    /* left: 0; */
  }
  &.--right {
    /* right: 0; */
  }
}
