/* =Hover List */
.c-projects-list-container {
  padding-top: 20vh;
}

.c-projects-list_title {}

.c-projects-list {
  list-style: none;
  padding: 0;
  margin-top: 5vw;
  position: relative;
}

button {
  position: absolute;
  bottom: 0;
  right: 0;
}
