// ==========================================================================
// Tools / media-queries
// to use as:
// span { @include md-screen{ font-size: 20px; } }
// ==========================================================================
$lg-screen-size: 1170px;
$md-screen-size: 992px;
$sm-screen-size: 767px;
$xs-screen-size: 575px;

//Large Screen - 993 to 1170 screen size
@mixin lg-screen {
  @media only screen and (max-width: $lg-screen-size) {
    @content;
  }
}
//Medium Screen - 768 to 992 screen size
@mixin md-screen {
  @media only screen and (max-width: $md-screen-size) {
    @content;
  }
}
//Medium Screen - 575 to 767 screen size
@mixin sm-screen {
  @media only screen and (max-width: $sm-screen-size) {
    @content;
  }
}
//Medium Screen - below 575 screen size
@mixin xs-screen {
  @media only screen and (max-width: $xs-screen-size) {
    @content;
  }
}
