// ==========================================================================
// Base / Page
// ==========================================================================

body,
html {
  font-family: 'urw_gothicbook';
  font-size: calc(1em + 1vw);
  height: 100%;
}

*::selection {
  background: transparent;
  color: #37ccc9;
}

a {
  text-decoration: none;
  color: #fff;
}
