// ==========================================================================
// Base / Page
// ==========================================================================

body,
html {
  font-family: 'urw_gothicbook';
  font-size: calc(1em + 1vw);
  height: 100%;
}

*::selection {
  background: transparent;
  color: var(--clr-hl);
}

a {
  text-decoration: none;
  color: var(--clr-h);
}
