// ==========================================================================
// Base / Page
// ==========================================================================

body, html {
  font-family: 'urw_gothicbook';
  font-size: calc(1em + 1vw);
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

